body {
    font-family: Arial, sans-serif;
    background: hsla(215, 92%, 75%, 0.96);
    margin: 0;
    padding: 0;
    background-color: (hwb(296 24% 11%));
    
}

header {
    background-color: (hwb(296 24% 11%)) ;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: large;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(17, 2, 70, 0.938);
}

h1, h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #000000;
    padding: 10px;
    text-align: center;
    clear: both;
}
CENTER {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: #000000;
}
