body {
    font-family: Arial, Monospace;
    margin: 0;
    min-width: 10;
    padding: 0;
    background-color:  hsla(215, 92%, 75%, 0.96);
    
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ed1a32;
    text-decoration: none;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color:  hwb(312 12% 86% / 0.958);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(17, 17, 17);
}

h1, h2 , h3 {
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: hsla(215, 92%, 75%, 0.96);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items : center;
    margin-top: 40px;
}

footer {
    background-color: #333;
    color: #d78e07;
    padding: 10px;
    text-align: center;
    clear: both;
}
CENTER {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: hwb(0 4% 96%);
}
.background
{
position: absolute;
top:0;
Left:0;
width:100%;
min-height: 100vh;
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
z-index: -1;
filter : blur(5px);
}
